@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html,
body,
main {
  padding: 0;
  margin: 0;
  color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Play", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: absolute;
}

body {

  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

h2 {
  font-size: 1.2em;
}
h3 {
}

p {
}

ul {
  list-style-type: none;
}

/* safari SVG fix */
svg:not(:root),
symbol,
image,
marker,
pattern,
foreignObject {
  -webkit-transform: translate(0px, 0px);
}

pre {
  line-height: 0.3;
  font-size: 0.75em;
  color: #e38bbf;
}

@media (max-width: 767px) {
  html {
    /* zoom: 90%; */
  }
}

/* @font-face {
	font-family: 'OCR-A';
	src: url('../../public/fonts/OCR-A.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Byte Police Super-Italic';
	src: url('../../public/fonts/BytePoliceSuperItalic.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  } */

/* .button_wrap {
	display: inline-block;
	width: 100%;
	justify-content: center;
	padding: .2em;
} */

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
} */


button.slick-prev {
	left: .5em;
	z-index: 1;
}

button.slick-next {
	right: .5em;
	z-index: 1;
}

.team_slick_slider .slick-prev::before {
	font-size: 30px;
	position: relative;
	left: 20px;
}

.team_slick_slider .slick-next::before {
	font-size: 30px;
	position: relative;
	right: 28px;

  }